<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666828434973-s9vsfvar88q84r7cm9iekl09bc89aev0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666828434973-s9vsfvar88q84r7cm9iekl09bc89aev0</string>
	<key>API_KEY</key>
	<string>AIzaSyAMSZybm293mv8WTqc60L4oITv7bMsfUyA</string>
	<key>GCM_SENDER_ID</key>
	<string>666828434973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoAgora</string>
	<key>PROJECT_ID</key>
	<string>fir-agora-2770d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-agora-2770d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666828434973:ios:2a4ea76c01c2629ad5e0f4</string>
</dict>
</plist>